* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: white;
}

h1 {
    margin: 4%;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: row;
}

.square {
    display: inline-block;
    color: white;
    margin: 1%;
    background-color: #5ab3ff;
    width: 60px;
    height: 60px;

    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.square:hover {
    opacity: 0.7;
}
.target_cursor {
    cursor: crosshair;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player {
    padding: 4%;
    border-radius: 5px;
    background-color: rgb(58, 126, 255);
    color: white;
}

.player_information {
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#turn_player {
    text-transform: capitalize;
    max-width: 200px;
    width: 200px;
}

.modal {
    background-color: #3a6fd5;
}
